<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantheon of Eternity</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type='image/x-icon' href="/static/images/favicon.ico">
</head>
<body>
    <iframe src="https://public.tableau.com/views/StocksSentiment/LowversusHighStocksOverTime?:language=en-US&:display_count=n&:origin=viz_share_link" width="645" height="955"></iframe>
    <div id='navDiv'>
        <h1 id='navTitle'>Pantheon of Eternity</h1>
        <ul id='navList'>
            <a class='pageLink active' href='/'>Home</a>
            <a class='pageLink inactive' href='/interactive/'>Interactive</a>
            <a class='pageLink inactive' href='/analysis/'>Analysis</a>
        </ul>
    </div>
    <!-- D3 Scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- Javascript -->
</body>
</html>