<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Interactive</title>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
        <!-- Favicon -->
        <link rel="icon" type='image/x-icon' href="/static/images/favicon.ico">
    </head>
    <body>
        <div id='navDiv'>
            <h1 id='navTitle'>Pantheon of Eternity</h1>
            <ul id='navList'>
                <a class='pageLink inactive' href='/'>Home</a>
                <a class='pageLink active' href='/interactive/'>Interactive</a>
                <a class='pageLink inactive' href='/analysis/'>Analysis</a>
            </ul>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col-12'>
                    <div class='textAboveChart'>
                        <p id='chartParagraph'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec consectetur enim, eget consectetur urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent in nulla porttitor, dapibus mauris nec, viverra nibh. Aliquam dignissim nec lacus eu pretium. Fusce faucibus at felis at fermentum. Maecenas luctus turpis ac rhoncus ullamcorper. Vestibulum eget ultrices tortor. Aliquam semper urna ut sollicitudin posuere. Pellentesque fermentum vel augue non vulputate. Nullam congue tortor eget justo porta vulputate. Pellentesque mi augue, sollicitudin ac mauris ut, pulvinar placerat massa. Nunc fringilla lectus nunc, egestas volutpat diam consequat at. Morbi sit amet rhoncus turpis.</p>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-2'>
                    <!-- <div id='stockSelection'>
                        <h5 id='stockSelectionHeader'>Stocks</h5>
                        <ul id='stockList'>
                            <li><a value='F' class='stockLink active'>F</a></li>
                            <li><a value='GM' class='stockLink inactive'>GM</a></li>
                            <li><a value='HMC' class='stockLink inactive'>HMC</a></li>
                            <li><a value='RACE' class='stockLink inactive'>RACE</a></li>
                            <li><a value='TM' class='stockLink inactive'>TM</a></li>
                            <li><a value='TTM' class='stockLink inactive'>TTM</a></li>
                        </ul>
                    </div> -->
                    <div id='dateSelection'>
                        <h5 id='dateSelectionHeader'>Date:</h5>
                        <select id='dateDataset'>
                            <option>11/1/2017</option>
                            <option>11/2/2017</option>
                            <option>11/3/2017</option>
                            <option>11/6/2017</option>
                            <option>11/7/2017</option>
                            <option>11/8/2017</option>
                            <option>11/9/2017</option>
                            <option>11/10/2017</option>
                        </select>
                    </div>
                </div>
                <div class='col-10'>
                    <div id='chart'>

                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-2'>
                    <div id='indicator'>

                    </div>
                </div>
                <div class='col-10'>
                    <div id='belowChart'>

                    </div>
                </div>
            </div>
        </div>


        <!-- D3 Scripts -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <!-- Bootstrap Script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <!-- Javascript-->
        <script type='text/javascript' src='../../../static/js/chart.js'></script>
        <script type='text/javascript' src='../../../static/js/interactive.js'></script>
    </body>
</html>